* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
}

.content h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.pagination button {
    background-color: #5c79db;
    color: #fff;
    padding: .5rem .8rem;
    margin: .25rem 0;
    font-size: .825rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}